.favorites{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


.favorites_box{
    height: 400px;
    width: 400px;
    background: linear-gradient(to top right,red,blue,purple,pink);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid black;
    z-index: 29;
}


.favorites_box p{
    font-size: 20px;
    font-weight: bold;
}


span {
    font-size: 13px;
    font-weight: 600;
}